body{
  background: #e9eaed;
  font-family: 'Oswald', sans-serif;
}

.App{
  width: 90%;
  margin: 0 auto;
}


.card.card-block.justify-content-center{
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}